parameters:
    level: 9
    paths:
        - classes
        - index.php
    excludePaths:
        - classes/Kart/License.php
        - tests

    ignoreErrors:
        - '#Call to an undefined method Kirby\\Cms\\File::#'
        - '#Call to an undefined method Kirby\\Cms\\Page::#'
        - '#Call to an undefined method Kirby\\Cms\\Pages::#'
        - '#Call to an undefined method Kirby\\Cms\\Site::#'
        - '#Call to an undefined method Kirby\\Cms\\StructureObject::#'
        - '#Call to an undefined method Kirby\\Cms\\User::#'
        - '#Call to an undefined method Kirby\\Content\\Field::#'
        - '#Call to an undefined method Kirby\\Session\\Session::#'
        - '#Call to an undefined static method Kirby\\Http\\Remote::#'
        - '#Call to an undefined static method Kirby\\Toolkit\\V::#'
        - '#Cannot call method license\(\) on Kirby\\Plugin\\Plugin\|null#'
        - '#Undefined variable: \$this#'
        - '/Parameter #1 \$value of function floatval expects/'
        - '/Parameter #1 \$value of function intval expects/'
        - '/Parameter #1 \$value of function strval expects/'
        -
            identifier: missingType.iterableValue
